td.details-control {
    background: url('../../resources/show-more.png') no-repeat center center;
    background-size: 25px 25px;
    cursor: pointer;
}

tr.shown td.details-control {
    background: url('../../resources/close.png') no-repeat center center;
    background-size: 25px 25px;
}

/* Style the body */
body {
    font-family: Arial;
    margin: 0;
}

/* Header/Logo Title */
.header {
    padding: 60px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
}

/* Page Content */
.content {
    padding: 20px;
}
